  body {
      font-family: Roboto;
      font-size: 18px;
      max-width: 1024px;
      margin: auto;
  }
  
  html {
      scroll-behavior: smooth;
  }

  header {
    display: flex;
    justify-content: end;
  }

  article {
    padding: 10px;
  }
  
  nav>ul {
      padding: 0;
      list-style: none;
  }
  
  .navigation {
      display: flex;
      justify-content: space-between;
  }
  
  li {
      padding-left: 5px;
  }
  
  hr {
      padding-bottom: 1px;
      border-bottom: 1px solid #f4f4f4;
      background-color: #9b9b9b;
  }
  
  div, section {
      margin-top: 10px;
      margin-right: 10px;
      margin-left: 10px;
  }
  
  .wrapper {
      text-align: center;
  }
  
  .wrapper img {
      border-radius: 30px;
  }
  
  code {
      background-color: #9b9b9b;
  }
  
  .rsschool {
      padding: 5px;
  }
  
  footer {
      font-style: italic;
      text-align: center;
      border-radius: 15% 15% 0 0;
      background-color: #9b9b9b;
  }
  
  .responsive {
      width: 100%;
      height: auto;
  }
  
  .logo_rs {
      max-width: 150px;
  }

  .toggle {
    display: none;
  }

 


  @media (max-width: 1000px) {

    .toggle {
      display: block;
      position: relative;
      margin: 5px;
      width: 50px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .toggle::after, .toggle::before {
      position: absolute;
      content: "";
      width: 50px;
      height: 2px;
      background-color: black;
    }
    .toggle::before {
      top: 0;
      right: 0;
    }
    .toggle::after {
      bottom: 0;
      right: 0;
    }
    
    .navigation {
      display: none;
      padding: 0;
      list-style: none;
  }
  .open {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    align-items: center;
    margin: 0;
  }
    nav {
      width: 100%;
    }
  }